[submodule "lib/micropython"]
	path = lib/micropython
	url = https://github.com/micropython/micropython.git
	branch = tag/v1.23.0
[submodule "cmodules/micropython-wifi-setup"]
	path = cmodules/micropython-wifi-setup
	url = https://github.com/george-hawkins/micropython-wifi-setup
[submodule "modules/micropython-wifi-setup"]
	path = modules/micropython-wifi-setup
	url = https://github.com/george-hawkins/micropython-wifi-setup.git
[submodule "boards/vfs_merge"]
	path = boards/vfs_merge
	url = https://github.com/Josverl/vfs_merge.git
[submodule "vfs_merge"]
	path = vfs_merge
	url = https://github.com/Josverl/vfs_merge.git
[submodule "modules/mrequests"]
	path = modules/mrequests
	url = https://github.com/SpotlightKid/mrequests.git
